Bootstrap-Flask==2.4.0
Flask_Login==0.6.3
Flask_WTF==1.2.1
WTForms==3.1.2
Werkzeug==3.0.4
Flask==3.0.3
flask_sqlalchemy==3.1.1
SQLAlchemy==2.0.35
python-dotenv==1.0.1
email_validator==2.2.0
psycopg2>=2.9.10